// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
    background-color: var(--secondary-color);
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}