// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
    background-color: rgb(43, 137, 226);
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}