// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

:root {
    --primary-color: rgb(190, 236, 190);
    --primary-offset: yellow;
    --seconsray-color: blue;
    --secondary-offset: red;
    --primary-font: white;
    --offset-font: black;
}